@charset "utf-8";
/* CSS Document */

.bodybg{ background-color:#3b3a3f; font-family:Verdana, Geneva, sans-serif; height: 100%;}
.header{ height:120px;}
.formDiv, .dataform{ min-height:250px; overflow:auto; margin-top:60px;}
.dataform{ margin-top:20px; min-height:450px;}
.txtcenter{ text-align:center;}
.fnone{ margin:0 auto; float:none!important;}

/*.navbar-fixed-top{position: fixed!important;}*/
.navbar .brand, .form-horizontal .controls { margin-left:0!important;}

.btn-custom { background-color: hsl(194, 70%, 47%) !important; background-repeat: repeat-x; filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#78cde7", endColorstr="#23a4cb"); background-image: -khtml-gradient(linear, left top, left bottom, from(#78cde7), to(#23a4cb)); background-image: -moz-linear-gradient(top, #78cde7, #23a4cb); background-image: -ms-linear-gradient(top, #78cde7, #23a4cb); background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #78cde7), color-stop(100%, #23a4cb)); background-image: -webkit-linear-gradient(top, #78cde7, #23a4cb); background-image: -o-linear-gradient(top, #78cde7, #23a4cb); background-image: linear-gradient(#78cde7, #23a4cb); border-color: #23a4cb #23a4cb hsl(194, 70%, 41.5%); color: #FFF !important; text-shadow: 0 1px 1px rgba(255, 255, 255, 0.36); -webkit-font-smoothing: antialiased; text-transform:none;}

.footer {
position: fixed;
bottom: 0;
left: 0;
right: 0;
height: 50px;
background:#f5f5f5;
padding:3px 0;
border-top:1px solid #d4d4d4;
}

.footer a{ color:#966430;}

/********** Dashboard  left panel**************/
#leftpane{ background:#d4d3d8;}
.logo{ padding:10px;}
.logotxt{ color:#4da4b7!important; font-weight:bold!important;}
ul li{text-shadow:none!important;}
.nav-header{ background-color:#353439; color:#FFF; margin-left:0!important; margin-right:0!important;}
.menulinks li, .nav-header{padding-left:15px; padding-right:15px;}
.menulinks li a {color:#966431; font-size:0.875em; text-shadow:none;}
.menulinks li.active a, .menulinks li a:hover, .menulinks li a:focus { background:none!important; color:#4da4b7!important; font-weight:bold; outline:none;  text-shadow:none;}
.menulinks li.active{ /*border-right:4px solid #4da4b7;*/}
.nav-list{padding:0!important;}

/********** Dashboard  right panel**************/
#dashContainer{/* background-color:#f1f1f2*/ margin-left:0!important; min-height:500px;}
.dashboardheader{background-color:#fafafb;}
.dashboardheader .navbar{ margin-bottom:0;}
.dashboardheader .navbar-inner{ border-radius:0 0 0 0; background:none!important; padding:10px 5px; border:none; border-bottom:1px solid #d1d1d4;}

.form-search{ margin:0!important; padding:5px 0; float:left;}
.caret {border-top: 4px solid #333333!important;}
.contentHeader{/* border-bottom:1px solid #d1d1d4;*/ display:block; height:30px; font-size:1.0em; color:#757679; font-weight:bold; padding:30px 0 10px 0;}

.visualisation{}
.imgContainer{ padding:0 10px;}

/************ data entry screens ***********/
textarea{ resize:none;}
.control-group label{ padding-right:10px;}

.navbar-toggle{ border-radius:4px; border:none; margin:10px 0; padding:10px;}
/************Media queries *****************/
/* Landscape phone to portrait tablet */
@media (max-width: 767px) { 
.pull-right .nav-pills > li{
	float:none;
}
}
 
/* Landscape phones and down */
@media (max-width: 480px) { 
.pull-right .nav-pills > li{
	float:none;
}

.navbar .nav > li > a{
	padding:10px 0;
}
}




